<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Dashboard
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="flex-center">
        <google-chart [title]="title" [type]="type" [data]="pieChartData" [options]="options" [width]="width" [height]="height"></google-chart>
        <div class="spend-list">
            <ol class="spend-details">
                <li *ngFor="let spendItem of spend">
                    {{ spendItem[1].category }} | 
                    {{ spendItem[1].amount | currency:'EUR' }} | 
                    {{ spendItem[1].date | date:'medium' }}
                </li>
            </ol> 
        </div>
    </div>
</ion-content>