<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Spend
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="container">
    <strong>Enter expenditure</strong>
   <!-- Input for Key -->
   <ion-item>
    <ion-label position="stacked">Category</ion-label>
    <ion-input [(ngModel)]="key" placeholder="Enter category"></ion-input>
  </ion-item>

  <!-- Input for Value -->
  <ion-item>
    <ion-label position="stacked">Value</ion-label>
    <ion-input [(ngModel)]="value" type="number"  placeholder="Enter amount spent"></ion-input>
  </ion-item>

  <!-- Buttons -->
  <ion-button expand="block" (click)="saveData(key,value)">Save Data</ion-button>

  <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
</div>

</ion-content>
